# Build output
dist/
.astro/

# Dependencies
node_modules/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.swo
